.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.node, .inner_node {
  
}

.centralNode {
  stroke-width: 2;
  stroke-opacity: 1;
  stroke: #000;
  font-weight: bold;
}

.ontologyNode {
  fill-opacity: 0.75;
}

.conceptNode {
  fill-opacity: 0.9;
}

.nodetext {
	fill: rgb(0,0,0);
	font-weight: normal;
	font-size: 12;
	pointer-events: none;
}

.linktext {
	fill: rgb(0,0,0);
	stroke: rgb(0,0,0);
	font-weight: normal;
	font-size: 10;
	stroke-width: 1;
	stroke: #000;
	transform: translate3d(0,0,0);
	pointer-events: none;
}

.link {
  stroke-linecap: round;
  /* Dark colored arcs look better at 2px due to antialiasing :( 
   * The antialiasing causes barber pole effects when the lines are
   * almost parallel to screen axes, and this hurts my eyes.
   * But, at 2px, the lines look too chunky...I am torn.
   */
  stroke-width: 1;
}

.conceptLink
{
  stroke-opacity: .6;
  stroke-width: 2;
}

polyLine.linkMarker {
	stroke-dasharray: none;
}

.ontologyMappingLink {
	stroke-opacity: .75;
	stroke: #999;
	fill: #999;
}

.inheritanceLink {
	/* Dark color that doesn't stomp on ontology colors, original was #AFC6E5 */
	stroke: #002266;
	fill: #002266;
	color: #002266;
}
polyLine.inheritanceLink.link {
	stroke-dasharray: none;
}

.compositionLink {
	/* Dark color that doesn't stomp on ontology colors, original was #AFC600 */
	stroke: #003311;
	fill: #003311;
	color: #003311;
}
polyline.compositionLink.link {
	stroke-dasharray: 4,4;
}

.propertyRelationLink {
	/* will be based on ontology color */
}
polyline.propertyRelationLink.link {
	stroke-dasharray: 1,1;
}

.mappingLink {
	stroke: #D4D4D4;
	fill: #D4D4D4;
	color: #D4D4D4;
}
polyline.mappingLink{
	stroke-dasharray: 10,5;
}

/* Highlighting takes priority over hiding */
.highlightedLink {
	stroke-opacity: 1;
}
.highlightedNode {
	fill-opacity: 1;
	stroke-opacity: 1;
}
.highlightedNodeLabel {
	opacity: 1;
}

.hiddenNode {
	opacity: 0.10;
}
.hiddenNodeLabel {
	opacity: 0.10;
}
.hiddenLink {
	opacity: 0.10;
}
.hiddenBecauseOfNodeLink {
	opacity: 0.10;
}

/* Might be unused... */
.dimmedLink {
	stroke-opacity: 0.25; /* see above, but default is 0.6 */
}
.dimmedNode {
	fill-opacity: 0.4;
	stroke-opacity: 0.4;
}
.dimmedNodeLabel{
	opacity: 0.4; /* Keep text readable */
}

.line{
display: block;
width: 45px;
height: 10px;
background: #999;
}

/*
legend{
width:350px;
padding:2px 0 0 20px;
float:right;
} 
.legend{
 padding:20px;
}
*/

html, body {
	height: 100%;
}

body{
	fill: rgb(255,0,0);
	margin: 0px;
}

/*
* Vital to set the div#chart.gallery height to 100% in CSS, rather than in code, for Firefox.
*/
div.gallery{
	height: 96%;
	/*
	border-style:solid;
	*/
}

td.vis{
	/*
	width: 600px;
	*/
}

div#menuTriggerContainer {
   position:absolute;
   top:0;
   right:0;
   background-color: rgb(255,255,255);
}

div#slider-gap {
	margin: 15px;
}

div#hoveringGraphMenu {
  display: none;
  position: absolute;
  right:0;
  width: 350px;
  padding: 10px;
  background: rgb(218,229,243);
  opacity:0.90 !important;
  filter:alpha(opacity=90); */ /* For IE8 and earlier */
  /*
   background: #eeeeee; 
  
  /* background: rgba (200, 200, 200, 0.7); */
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

.scroll-div {
	overflow-y: scroll;
	background-color: white;
}

.nodeCommandButton {
	margin-right: 15px !important;
}

.filterCheckbox {
	width: auto;
	display: block;
}

.filterCheckboxSomeSelected {
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.legend {
	background-color: rgb(193, 217, 241);
	color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(159, 188, 215);
	width: 390px;
}

.menuLabel {
	background-color: rgb(193, 217, 241);
	padding: 2px;
	margin: 12px 0px 0px 0px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid rgb(159, 188, 215);
	width: auto;
	display: block;
}

.menuLabelExpander {
	text-align: left;
	font-weight: bold;
	float: left;
	width: 2em;
}

.view_selection_box {
	float: left;
}

div#undo_redo_breadcrumb_label {
	
}

.undo_redo_button {
	float: left;
	padding: 2px;
}

.und_redo_spacer {
	float: left;
	pad-right: 5em;
}

.undo_redo_list_button {
	float: left;
	padding: 2px;
}

.crumb_for_, div#undo_redo_breadcrumb_label {
	float: left;
	margin-right: 1em;
	padding: 2px;
}

.crumb_for_ {
	border-style: solid;
	border-color: rgb(100,100,100);
	border-width: 1px;
	opacity: 50%
}

.active_crumb {
	opacity: 100%;
	font-weight: bold;
	border-width: 2px;
}
.faded_crumb{
	color: rgb(180,180,180);
	border-color: rgb(180,180,180);
}
.crumb_for_:hover {
	color: rgb(150,40,40);
	border-color: rgb(150,40,40);
}

.undo_redo_breadcrumb_trail {
	overflow: hidden;
	background-color: rgb(200,220,255);
	border-color: rgb(0,20,55);
	border-style: solid;
	border-width: 1px;
}

.vertical_stack_bread_crumb_div {
	margin: left;
	display: block;
	position: relative;
	float: left;
	clear: left;
	width: auto;
	border-style: none;
}

.vertical_stack_bread_crumb_container {
	display: none;
	position: absolute;
	border-color: rgb(180,180,180);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(200,220,255);
	overflow-y: scroll;
	background-color: white;
	max-height: 120px;
}

.undo_redo_button_disabled {
	color: rgb(180,180,180);
	border-color: rgb(180,180,180);
	/* SVG icon requires fill arg */
	fill: rgb(180,180,180); 
	fill-opacity : 0.5;
}


.action-undo-icon{
	background:url(..//icons/open-iconic/svg/action-undo.svg); 
	background-size: 14px; background-repeat:no-repeat; width: 14px; 
	height: 14px; margin: 0px 1px 0px 0px; padding: 0; 
	border-style: solid; border-width: 1px;
}
.action-redo-icon{
	background:url(..//icons/open-iconic/svg/action-redo.svg); 
	background-size: 14px; background-repeat:no-repeat; width: 14px; 
	height: 14px; margin: 0px 0px 0px 1px; padding: 0; 
	border-style: solid; border-width: 1px;
}
.caret-bottom-icon{
	background:url(..//icons/open-iconic/svg/caret-bottom.svg); 
	background-size: 8px; background-repeat:no-repeat; width: 8px; 
	height: 8px; margin: 4px 0px 0px 0px; padding: 0; 
	border-style: solid; border-width: 1px;
}





