.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.node, .inner_node {
  
}

.centralNode {
  stroke-width: 2;
  stroke-opacity: 1;
  stroke: #000;
}

.ontologyNode {
  fill-opacity: 0.75;
}

.conceptNode {
  fill-opacity: 0.9;
}

.nodetext {
	fill: rgb(0,0,0);
	font-weight: normal;
	font-size: 12;
	pointer-events: none;
}

.linktext {
	fill: rgb(0,0,0);
	stroke: rgb(0,0,0);
	font-weight: normal;
	font-size: 10;
	stroke-width: 1;
	stroke: #000;
	transform: translate3d(0,0,0);
	pointer-events: none;
}

.link {
  stroke-linecap: round;
}

.conceptLink
{
  stroke-opacity: .6;
  stroke-width: 2;
}

.linkMarker {
	stroke-dasharray: none;
}

.ontologyMappingLink {
	stroke-opacity: .75;
	stroke: #999;
	fill: #999;
}

.inheritanceLink {
	stroke: #AFC6E5;
	fill: #AFC6E5;
}
polyLine.inheritanceLink {
	stroke-dasharray: none;
}

.compositionLink {
	stroke: #AFC600;
	/*fill: #FFFFFF;*/
	fill: #AFC600
}
polyline.compositionLink{
	stroke-dasharray: 4,4;
}

.mappingLink {
	stroke: #D4D4D4;
	fill: #D4D4D4;
}
polyline.mappingLink{
	stroke-dasharray: 10,5;
}


/* Might be unused... */
.dimmedLink {
	stroke-opacity: 0.25; /* see above, but default is 0.6 */
}
.dimmedNode {
	fill-opacity: 0.1;
	stroke-opacity: 0.1;
}
.dimmedNodeLabel{
	opacity: 0.25; /* Keep text readable */
}
.highlightedLink {
	stroke-opacity: 1;
}
.highlightedNode {
	fill-opacity: 1;
	stroke-opacity: 1;
}
.highlightedNodeLabel {
	opacity: 1;
}
     

.line{
display: block;
width: 45px;
height: 10px;
background: #999;
}

/*
legend{
width:350px;
padding:2px 0 0 20px;
float:right;
} 
.legend{
 padding:20px;
}
*/

html, body {
	height: 100%;
}

body{
	fill: rgb(255,0,0);
	margin: 0px;
}

/*
* Vital to set the div#chart.gallery height to 100% in CSS, rather than in code, for Firefox.
*/
div.gallery{
	height: 100%;
	/*
	border-style:solid;
	*/
}

td.vis{
	/*
	width: 600px;
	*/
}

div#trigger {
   position:absolute;
   top:0;
   right:0;
}

div#slider-gap {
	margin: 15px;
}

div#hoveringGraphMenu {
  display: none;
  position: absolute;
  right:0;
  width: 350px;
  padding: 30px;
  background: rgb(218,229,243);
  /*
   background: #eeeeee; 
  opacity:0.4;
filter:alpha(opacity=40); */ /* For IE8 and earlier */
  
  /* background: rgba (200, 200, 200, 0.7); */
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}