/** Window-System (includes Desktop) */

/* 
 * Internet Explorer 9 Window Shadows Fix: They only work if there is no
 * border-collapse on a containing table.
 */
.choosel-MainPanel {
	border-collapse: separate;
}

.choosel-DialogPanel {
    margin: 0px;
    padding: 0px;
    border: 0px;
	background-color: rgb(255, 255, 255);
	
	border-collapse: collapse;
	border-spacing: 0px;
}

.choosel-DialogPanel td {
    padding: 0px;
}

.choosel-DialogPanel-Content {
	min-width: 150px;
	width: 100%;
	background-color: rgb(218, 229, 243);
    padding: 5px;
    margin: 0px;
}

.choosel-DialogPanel-Header {
	border-bottom: 1px solid rgb(159, 188, 215);
	
	min-width: 150px;
    padding: 5px;
    
    color: rgb(0,0,0);
    
    font-size: 26px;
    font-weight: bold;
    font-family: Arial;
    
    white-space: nowrap;
}

.choosel-DialogPanel-ButtonBar {
  border-top: 1px solid rgb(159, 188, 215);
  width: 100%;
  height: 36px;
}

.choosel-DialogPanel-ButtonBar button {
    float: right;
	font-size: 13px;
    background: none;
    height: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    background-color: rgb(218, 229, 243);
    color: rgb(112, 106, 170);
    border:solid 1px rgb(164, 195, 235);
}

.choosel-DialogPanel-ButtonBar button:hover {
	background-color: rgb(193, 217, 241);
	border: solid 1px rgb(104, 140, 175);
}

.choosel-DialogPanel-ButtonBar button:focus {
    border: solid 1px #E7B076;
}

.choosel-DialogPanel-ButtonBar button:active {
    background-color: rgb(214, 230, 244);
    border: solid 1px #E7B076;
}

.dialog-message {
	position: absolute;
	width: 400px;
	font-size: 20pt;
	font-weight: bold;
    border: 1px solid rgb(159, 188, 215);
    padding: 3px;	
    background-color: rgb(214, 230, 244);
    color: rgb(112, 106, 170);
}

.desktop {
    background-color: rgb(164, 195, 235);
}

.choosel-WindowPanel {
  border-top: 1px solid rgb(159, 188, 215);
  border-left: 1px solid rgb(159, 188, 215);
  border-right: 1px solid rgb(159, 188, 215);
  border-bottom: 1px solid rgb(159, 188, 215);
	
  display: block;
  
  /** The window element is transparent, but its children are not */
  background-color: rgba(0, 0, 0, 0.0);
  
  box-shadow: 3px 3px 12px #333333;
  -moz-box-shadow: 3px 3px 12px #333333;
  -webkit-box-shadow: 3px 3px 12px #333333;
}

.choosel-WindowPanel table tbody tr td {
  vertical-align:top;
}
	
.choosel-WindowPanel-Header {
  border-bottom: 1px solid #688CAF; 
  background-color: rgba(193, 217, 241, 0.65);  
  overflow: hidden;
  vertical-align: top;
}

.choosel-WindowPanel-HeaderLabel, input.choosel-WindowPanel-HeaderText {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.0);  
  border: solid 1px rgba(0, 0, 0, 0.0);
  
  white-space:nowrap;
  
  position: relative;
  margin-bottom: 2px;
  margin-top: 0px;
  
  padding: 0px;
  display: inline; /* required so we can calculate minimum width based on header */
}
 
.choosel-WindowPanel-ButtonPanel {
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 2px;
  cursor: default;
}

.choosel-WindowPanel .dragdrop-boundary {
  background-color: rgb(159, 188, 215);
  border: 1px solid black;
}

.choosel-WindowPanel-ResizeEdge {
  background-color: rgba(193, 217, 241, 0.65);
  line-height: 1px;
  font-size: 1px;  
}

.choosel-WindowPanel-ResizeEdge-RightBorder {
  border-right: 1px solid #688CAF;
}

.choosel-WindowPanel-ResizeEdge-LeftBorder {
  border-left: 1px solid #688CAF;
}

.choosel-WindowPanel-ResizeEdge-TopBorder {
  border-top: 1px solid #688CAF;
}

.choosel-WindowPanel-Resize-nw .dragdrop-handle {
  cursor: nw-resize;
}

.choosel-WindowPanel-Resize-n .dragdrop-handle {
  cursor: n-resize;
}

.choosel-WindowPanel-Resize-ne .dragdrop-handle {
  cursor: ne-resize;
}

.choosel-WindowPanel-Resize-w .dragdrop-handle {
  cursor: w-resize;
}

.choosel-WindowPanel-Resize-e .dragdrop-handle {
  cursor: e-resize;
}

.choosel-WindowPanel-Resize-sw .dragdrop-handle {
  cursor: sw-resize;
}

.choosel-WindowPanel-Resize-s .dragdrop-handle {
  cursor: s-resize;
}

.choosel-WindowPanel-Resize-se .dragdrop-handle {
  cursor: se-resize;
}

.windowTransparent {
    filter: alpha(opacity = 30);
    opacity: 0.3;
}